@mixin circleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 530px;
  height: 530px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
}

.circleWrapper {
  width: 100%;
  height: 100%;
}

@media (max-width: 320px) {
  .circleWrapper {
    display: none;
  }
}

.wrapperAnimate {
  width: 100%;
  height: 100%;
  animation: circleAnimate 1s ease-in-out;
}

@media (max-width: 320px) {
  .wrapperAnimate {
    display: none;
  }
}

.sliderContainer {
  @include circleContainer;
}

@media (max-width: 320px) {
  .sliderContainer {
    width: 140px;
    height: 0px;
    border: none
  }
}

.circleAnimation {
  @include circleContainer;
  transition: animate 1s all;
}


.block {
  width: 6px;
  height: 6px;
  background-color: #42567A;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px; /* Половина высоты */
  margin-left: -25px; /* Половина ширины */
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    &:hover {
      cursor: pointer;
    }
} 

.activeTop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(48, 62, 88, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px; 
  margin-left: -45px;
  background-color: #F4F5F9;
  transition: all 0.3s ease; 
    &:hover {
      cursor: pointer;
      background-color: #FFF;
      transition: all 0.3s ease; 
    }
}

.hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(48, 62, 88, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px; 
  margin-left: -45px;
  background-color: #F4F5F9;
  transition: all 0.3s ease; 
}

.number {
  font-family: PT Sans Regular;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
}

.name {
  position: absolute;
  left: 60px;
  font-family: PT Sans Bold;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
}



.sliderDateWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 973px;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
}

@mixin circleDates {
  font-size: 200px;
  line-height: 160px;
}

.sliderFirstDate {
  @include circleDates;
  color: #5D5FEF;
}

.sliderSecondDate {
  @include circleDates;
  color: #EF5DA8;
}

@media (max-width: 320px) {
  .sliderDateWrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 273px;
    height: 72px;
    margin-top: -150px;
    // left: -100px;
    transform: translateY(-50%);
  }

  .sliderFirstDate {
    font-size: 56px;
    line-height: 160px;
  }
  
  .sliderSecondDate {
    font-size: 56px;
    line-height: 160px;
  }
  
}


// test
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.number {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

