@mixin circleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 530px;
  height: 530px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
}

.circleWrapper {
  width: 100%;
  height: 100%;
}

.wrapperAnimate {
  width: 100%;
  height: 100%;
  animation: circleAnimate 1s ease-in-out;
}

.sliderContainer {
  @include circleContainer;
}

.circleAnimation {
  @include circleContainer;
  transition: animate 1s all;
}


.block {
  width: 6px;
  height: 6px;
  background-color: #42567A;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px; /* Половина высоты */
  margin-left: -25px; /* Половина ширины */

  transition: all 0.3s ease; 
}

.topActive {
  /* Стили для элемента, который находится наверху */
  border: 2px solid #FF5733; /* Например, красная рамка */
  background-color: #FFFFFF;
  transform: scale(1.2); /* Например, делаем его чуть больше */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.number {
  font-family: PT Sans Regular;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
}

.name {
  position: absolute;
  left: 60px;
  font-family: PT Sans Bold;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
}

@mixin active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(48, 62, 88, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px; 
  margin-left: -45px;
  background-color: #F4F5F9;
  transition: all 0.3s ease; 
   &:hover {
      background-color: #fff;
      transition: 0.5s all;
    }
}

.active {
  @include active;
  transform: translate(10px, -253px) rotate(0deg);
}

.activeOne {
  @include active;
  transform: translate(10px, -175px) rotate(0deg);
}

.activeTwo {
  @include active;
  transform: translate(200px, 10px) rotate(-90deg);
}

.activeThree {
  @include active;
  transform: translate(10px, 200px) rotate(180deg);
}

.activeFour {
  @include active;
  transform: translate(-175px, 10px) rotate(90deg);
}

@mixin circleBlocks {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.blockOne {
  @include circleBlocks;
  transform: translate(20px, -242px) rotate(0deg);
}

.blockTwo {
  @include circleBlocks;
  transform: translate(287px, 20px) rotate(90deg);
}

.blockThree {
  @include circleBlocks;
  transform: translate(20px, 287px) rotate(-180deg);
}

.blockFourth {
  @include circleBlocks;
  transform: translate(-242px, 20px) rotate(-90deg);
}


.sliderDateWrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 973px;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
}

@mixin circleDates {
  font-size: 200px;
  line-height: 160px;
}

.sliderFirstDate {
  @include circleDates;
  color: #5D5FEF;
}

.sliderSecondDate {
  @include circleDates;
  color: #EF5DA8;
}


// test
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.number {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
