.underlineAnimation {
  display: block;
  position: relative;
    &:after { // когда убираем наводку наш псевдоэлемент сжимается вправо
      content: '';
      position: absolute;
      width: 0; 
      height: 1.5px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: rgba(156, 163, 175);
      transition: width .4s ease; // анимация происходит с шириной
      -webkit-transition: width .4s ease;
    }
    &:hover:after { // При наведении мы проявляем наш псевдоэлемент - от лево вправо
      width: 100%;
      left: 0;
      background: rgba(156, 163, 175);
    }
}





 

