.ant-input-outlined {
  outline: none;
  &:focus {
    box-shadow: none;
  }
  &:focus-within {
    border-color: #d9d9d9;
  }
  &:hover {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
  }
}

.ant-input-outlined-within {
  &:focus {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
  }
}