.swiper {
  margin-top: -204px;
  height: 180px !important;
  padding-left: 80px !important;
}

@media (max-width: 320px) {
  .swiper {
    padding-top: 20px !important;
    border-top: 1px solid #C7CDD9;
    margin-top: -300px;
    padding-left: 0px !important;
    // padding-left: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .swiper-slide {
    margin-right: 120px !important;
  }
}

.swiper-button-next {
  position: absolute;
  margin-right: 15px !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF;
  overflow: hidden;
}

@media (max-width: 320px) {
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev {
  position: absolute;
  margin-left: 15px !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF;
  overflow: hidden;
}

@media (max-width: 320px) {
  .swiper-button-prev {
    display: none !important;
      img {
        display: none;
      }
  }
}

.swiper-button-next img,
.swiper-button-prev img {
  display: block;
  width: 10px;
  height: 10px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.swiper-button-next img {
  transform: translate(-50%, -50%) rotate(0deg);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.years {
  font-family: Bebas Neue Regular;
  font-size: 25px;
  line-height: 120%;
  color: #3877EE;
}

@media (max-width: 320px) {
  .years {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: Bebas Neue Regular;
    font-size: 20px;
    line-height: 120%;
    color: #3877EE;
  }
}

.info {
  width: 320px;
  font-family: PT Sans Regular;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
}

@media (max-width: 320px) {
  .info {
    width: 166px;
    font-family: PT Sans Regular;
    font-size: 14px;
    line-height: 145%;
    color: #42567A;
    text-wrap: wrap;
  }
}

.btnArrow {
  display: block;
  width: 10px;
  height: 10px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// Анимация
.container {
  display: flex;
  width: 100%;
}

.animating {
  animation: animateNumber 1s ease-in-out;
}

@keyframes animateNumber {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transition {
  display: flex;
  width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 300ms;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

