.portfolioHeadTextStyle {
  align-self: center;
  min-width: 100px;
  font-size: 45px;
  color: #192e2f
}

.portfolioTextStyle {
  font-weight: 400;
  color: #777777
}

.portfolioMainTextBold {
  font-weight: bold;
}