.appWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  border: 0.5px solid lightgray;
  // overflow: hidden;
}

.block {
  width: 50%;
  height: 50vh;
  border: 0.5px solid lightgray;
}

.footer {
  // position: relative;
  display: flex;
  z-index: 50;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  // width: 100%;
  padding-left: 80px;
  margin-top: -204px;
}

.elements {
  z-index: 1;
  display: flex;
}

.element {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}


.years {
  font-family: Bebas Neue Regular;
  font-size: 25px;
  line-height: 120%;
  color: #3877EE;
}

.info {
  width: 320px;
  font-family: PT Sans Regular;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
  margin-top: 15px;
  text-align: left;
}

.historyDate {
  position: absolute;
  top: 170px;
  padding-left: 78px;
  border-left: 5px solid transparent;
  border-image: linear-gradient(to bottom, #3877EE, #EF5DA8ff) 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 353px;
  color: #42567A;
  line-height: 120%;
  font-family: PT Sans Bold;
  font-weight: bold;
  font-size: 56px;
}

.btnWrapper1 {
  display: flex;
  position: absolute;
  left: 120px;
  align-items: center;
  height: 165px;
  // margin-right: 30px;
}

.btnWrapper2 {
  display: flex;
  z-index: 1000;
  position: absolute;
  right: 120px;
  align-items: center;
  height: 165px;
  // margin-right: 30px;
}

.btnPrev {
  display: block;
  position: relative;
  transform: rotate(180deg);
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF;
  overflow: hidden;
}

.btnArrow {
  display: block;
  width: 10px;
  height: 10px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnNext {
  display: block;
  position: relative;
  // position: absolute;
  // bottom: 100px;
  // right: 150px;
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF;
  overflow: hidden;
}


// .countSlider {
//   display: flex;
//   flex-direction: column;
//   width: 120px;
//   position: absolute;
//   bottom: 35%;
//   margin-left: 80px;
// }

// .countNumbers {
//   margin-bottom: 20px;
//   font-size: 14px;
//   font-family: PT Sans bold;
//   color: #42567A;
//   transition: animateNumber 1s ease-in-out;
// }

// @keyframes animateNumber {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// .countSliderBtnWrapper {
//   display: flex;
// }

// .countSliderBtnPrev {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   border: 1px solid #42567A;
//     img {
//       margin: 0 auto;
//     }
// }

// .countSliderBtnNext {
//   width: 50px;
//   height: 50px;
//   margin-left: 20px;
//   border-radius: 50%;
//   border: 1px solid #42567A;
//     img {
//       margin: 0 auto;     
//       transform: rotate(180deg); 
//     }
// }
