.appWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  // height: 100vh;
  height: 1080px;
  margin: 0 auto;
  border: 0.5px solid lightgray;
}

.gridContainer {
  display: grid;
  height: 100%;
  grid-template-rows: 40% 60%;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.gridElem {
  border: 0.5px solid lightgray;
}

@media (max-width: 320px) {
  .appWrapper {
    width: 320px;
    height: 568px;
    border: none;
  }

  .gridContainer {
    display: block;
    margin-left: 20px;
  }
}




