.historyDate {
  position: absolute;
  top: 170px;
  padding-left: 78px;
  border-left: 5px solid transparent;
  border-image: linear-gradient(to bottom, #3877EE, #EF5DA8ff) 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 353px;
  color: #42567A;
  line-height: 120%;
  font-family: PT Sans Bold;
  font-weight: bold;
  font-size: 56px;
}

@media (max-width: 320px) {
  .historyDate {
    position: absolute;
    top: 59px;
    padding-left: 20px;
    border-left: 5px solid transparent;
    border-image: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 123px;
    color: #42567A;
    line-height: 120%;
    font-family: PT Sans Bold;
    font-weight: bold;
    font-size: 20px;
  }
}