.popupCartContainer {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  animation: showModal 3s forwards;
  z-index: 50;
}

@keyframes showModal {
  0% {
    top: -50px;
  }
  20% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  50% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    top: -50px;
  }
}

.popupCartWrapper {
  @apply flex relative mx-auto min-h-[36px] w-[240px] max-w-[calc(100vw-32px)] bg-[rgba(36,36,36,.9)] text-white pt-[7px] pr-[12px] pb-[9px] pl-[40px] rounded-[8px] text-[14px];
}

.popupCartImg {
  @apply w-[18px] absolute left-[16px] top-[50%] translate-y-[-50%];
}
